html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    background-color: #EDCBD2;
    display: grid;
    grid-template-columns: auto 1fr;
}

.sidebar {
    background-color: #80C4B7;
    border-right: 2px solid #E3856B;
}

.sidebar > h1 {
    text-align: center;
    margin: 0;
    padding: 24px 12px;
    color: #E3856B;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.game-container {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.square {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #80C4B7;
}

.square:nth-child(2),
.square:nth-child(5),
.square:nth-child(8) {
    border-left: 2px solid #E3856B;
    border-right: 2px solid #E3856B;
}

.square:nth-child(4),
.square:nth-child(5),
.square:nth-child(6) {
    border-top: 2px solid #E3856B;
    border-bottom: 2px solid #E3856B;
}