:root {
    --bg: #EDCBD2;
    --color: #80C4B7;
    --font: #E3856B;
}

html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    background-color: var(--bg, #EDCBD2);
    display: grid;
    grid-template-columns: auto 1fr;
}

.sidebar {
    background-color: var(--color, #80C4B7);
    border-right: 2px solid var(--font, #E3856B);
}

.sidebar > h1 {
    text-align: center;
    margin: 0;
    padding: 1.5rem 1rem;
    color: var(--font, #E3856B);;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
}

.player-turn {
    text-align: center;
    color: var(--font);
}

.player-turn > h1, .player-turn > p {
    margin: 0;
}

.selection-err {
    visibility: hidden;
}

.wrong-selection {
    visibility: visible;
}

.game-container {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.square {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: var(--color, #80C4B7);
}

.square:nth-child(2),
.square:nth-child(5),
.square:nth-child(8) {
    border-left: 2px solid var(--font, #E3856B);;
    border-right: 2px solid var(--font, #E3856B);;
}

.square:nth-child(4),
.square:nth-child(5),
.square:nth-child(6) {
    border-top: 2px solid var(--font, #E3856B);;
    border-bottom: 2px solid var(--font, #E3856B);;
}

/* Button gooey hover effect */
/* https://codepen.io/ines/pen/oeZdYv */
/* https://css-tricks.com/gooey-effect/ */
.btn-wrapper {
    filter: url('#goo');
    text-align: center;
}

.restart-btn {
    background-color: var(--color, #80C4B7);
    border: none;
    height: 2rem;
    border-radius: 1rem;
    color: #E3856B;
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    min-width: 15rem;
}

.restart-btn:before,
.restart-btn:after,
.modal-button:before,
.modal-button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    /* display: inline-block; */
    background: var(--color, #80C4B7);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.restart-btn:before,
.modal-button:before {
    top: -25%;
    left: 20%;
}

.restart-btn:after,
.modal-button:after {
    bottom: -25%;
    right: 20%;
}

.restart-btn:hover:before,
.restart-btn:hover:after,
.modal-button:hover:before,
.modal-button:hover:after {
    transform: none;
}

/* Declare winner Modal pop-up and blur background */
/* https://codeconvey.com/css-modal-blur-background/ */
.container {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    -webkit-transition: opacity 500ms ease, -webkit-filter 500ms ease;
    transition: opacity 500ms ease, -webkit-filter 500ms ease;
    transition: filter 500ms ease, opacity 500ms ease;
    transition: filter 500ms ease, opacity 500ms ease, -webkit-filter 500ms ease;
}

.modal--active.container {
    -webkit-filter: blur(8px);
            filter: blur(8px);
    opacity: 1;
}

.modal-wrapper {
    position: fixed;
    top: 100vh;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-filter: blur(15px);
            filter: blur(15px);
    opacity: .01;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    overflow: auto;
    -webkit-transition: opacity 300ms ease 200ms, -webkit-transform 300ms ease 200ms, -webkit-filter 300ms ease 200ms;
    transition: opacity 300ms ease 200ms, -webkit-transform 300ms ease 200ms, -webkit-filter 300ms ease 200ms;
    transition: transform 300ms ease 200ms, filter 300ms ease 200ms, opacity 300ms ease 200ms;
    transition: transform 300ms ease 200ms, filter 300ms ease 200ms, opacity 300ms ease 200ms, -webkit-transform 300ms ease 200ms, -webkit-filter 300ms ease 200ms;
}

.modal-wrapper.modal--active {
    top: 300px;
    margin-top: -150px;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.modal {
    padding: 80px 20px 20px;
    overflow: hidden;
    height: 400px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.modal-title {
    font-size: 3.5rem;
    color: var(--font);
}

.modal-button {
    background: var(--color);
    color: var(--font);
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
}